@model IEnumerable<Content>

@{
    ViewData["Title"] = "Home Page";
}

<h1>AzureBird</h1>
@foreach (var item in Model)
{
    <div style="margin-bottom: 1em;">
        <b>
            @item.Author
            @item.Date
        </b>
        <br />
        @item.Text
    </div>
}
